<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EngineLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LGEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3367D0518B3E620005475B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3367D2518B3E621005475B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A38069CF18B5677300486D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A38069D618B56A7100486D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A38069E318B56A7100486D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A9DEAE18B5604C000B1529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A9DEBB18B5604C000B1529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A9DED118B560CC000B1529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B4E8AA18B5638000D419F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B4E8B718B5638100D419F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3F27CA818B5616B0055382A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
